*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
}


.container {
	width: 100%;
	max-width: 900px;
	margin: 4em auto;
	font-family: Arial, sans-serif;
	padding: 1em 2em;
}

h2 {
	margin-bottom: 1em;
	border-bottom: 2px solid #eee;
	line-height: 1.5;
}

.ghost-btn-hello-container {
	background-color: #8e44ad;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
	font-weight: 100;
	font-size: 24px;
	height: 200px;
	position: relative;
}

.ghost-btn-hello {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 400px;
	height: 100px;
	margin: auto;
	border: 2px solid #8e44ad;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	letter-spacing: 10px;
}

.ghost-btn-hello:before {
	content: "";
	display: block;
	position: absolute;
	border: 2px solid #ffffff;
	width: 380px;
	height: 80px;
	top: 8px;
	left: 8px;
}

.ghost-btn-hello:hover {
	border: 2px solid white;
}
