
html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}



.button {
    display: block;
    width: 180px;
    position: relative;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #2DCB70;
    font-family: Arial;
    font-weight: bold;
    border: 2px solid rgba(255,255,255,0.8);
    padding-left: 20px;
    margin: 0 auto;
    background:url(../images/allow.png) no-repeat 130px center;
}

.button .line{
    display: block;
    position: absolute;
    background: none;
    -moz-transition:ease 0.4s;
    -o-transition:ease 0.4s;
    -webkit-transition:ease 0.4s;
    transition:ease 0.4s;
}
.button:hover .line{
    background: #fff;
}
.button .lineTop{
    height: 2px;
    width: 0px;
    left: -100%;
    top: -2px;
}
.button:hover .lineTop{
    width: 100%;
    left:-2px;
}


.tip span{
    /*设置三角形 边框的正确形状*/
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
    border:7px solid transparent;
    border-top-color: #2DCB70;
    position: absolute;
    top:35px;
    left:50%;
    margin-left: -4px;
}

span{display: block;
    width: 5px;
    height: 5px;
    overflow: hidden;
    border:10px solid transparent;
    border-top-color: #2DCB70;
    border-bottom-color: #f00;
    border-right-color: #2D0070;
    border-left-color: #00CB70;
    position: absolute;
}